button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

header {
  border-bottom: 1px solid #ececec;
  width: 1600px;
  margin: 0 auto;
  background-color: var(--primery-bg-color);
}

main {
  width: 1600px;
  margin: 0 auto;
  background-color: var(--primery-bg-color);
}

footer {
  width: 1600px;
  margin: 0 auto;
}


.section {
  padding-bottom: 95px;
  padding-top: 95px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0px 15px;
}