.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #2F303A; */
    text-align: center;
    &__title {
    color: var(--secondary-text-color);
    
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 695px;
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    

}

/*hero button */

.button {

    color: var(--secondary-text-color);
    background-color: var(--accent-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    border-radius: 4px;
    padding: 10px 32px;

    border-color: var(--accent-text-color);

    transition-property: color, fill, background-color, border-color;
    transition: var(--timing-function);

    &:hover, &:focus {
    color: var(--title-text-color);
    background-color: var(--primery-bg-color);
    border-color: var(--primery-bg-color);
    cursor: pointer;
    }

}
